name: Terraform CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  AWS_REGION: us-east-1

jobs:
  terraform:
    name: Terraform
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repository
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Configure AWS credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      # 3. Install Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      # 4. Terraform Init (REMOTE STATE)
      - name: Terraform Init
        working-directory: terraform
        run: terraform init -input=false

      # 5. Terraform Format Check
      - name: Terraform Format
        working-directory: terraform
        run: terraform fmt -check

      # 6. Terraform Validate
      - name: Terraform Validate
        working-directory: terraform
        run: terraform validate

      # 7. Terraform Plan
      - name: Terraform Plan
        working-directory: terraform
        run: terraform plan -input=false -out=tfplan

      # 8. Terraform Apply (only on main branch)
      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'
        working-directory: terraform
        run: terraform apply -input=false -auto-approve tfplan
